{% extends 'base.html' %}
{% load static %}
 
{% block content %}
 
    <!-- Hero Slider -->
    <section class="hero bg-cover bg-position py-4" style="background: url(img/hero-banner-1.jpg)">
      <div class="container py-5 index-forward text-white">
        <h1>About UniHub</h1>
        <!-- Breadcrumb-->
        <!-- <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-none mb-0 p-0">
            <li class="breadcrumb-item pl-0"><a href="index.html"> <i class="fas fa-home mr-2"></i>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About us</li>
          </ol>
        </nav> -->
      </div>
    </section>
    <section class="py-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-5 mb-4 mb-lg-0">
            <div class="pt-1 bg-primary"><img class="img-fluid" src="img/about-img.jpg" alt=""></div>
          </div>
          <div class="col-lg-6">
            <!-- <p class="h6 mb-1 text-uppercase text-primary mb-3">Our main services</p> -->
            <!-- <h2 class="mb-4">We Work With You To Address Your Most Critical Business Priorities</h2> -->
            <p class="text-primary text-muted">
              Unihub was created and designed by a group of developers and designers. This was after each gave their testimony of how hard it is to get constructive feedback on your project.
            </p>
            <p class="text-primary text-muted" > And the reason its hard is mostly because, we tend to ask for feedback from those people who are our friends and close to us since they are our connections.</p>
            <p class="text-primary text-muted">But, most of the time, and most of them dont give us the right feedback because they fear discouraging us Because at times they Know how much we have invested our time in those projects.
            </p>
        <p class="text-primary text-muted">Another problem is that, most will give us feedback which is not relevant. While others will give a feedback that you dont know how to fix it but its very crucial to the project.
        </p>
    <p class="text-primary text-muted">Thats, where now <strong>UniHub</strong> comes in. We want to make your process to be less hectic. When you through with your project, We have our projects page, post your pojects, then we shall give you consteuctive feedback and even have  time that will guide you on how to implement that feedback.</p>
            <!-- <ul class="list-check list-unstyled row px-3 mb-4">
              <li class="text-small text-muted col-lg-6 mb-2">Acquire live chat enables sales</li>
              <li class="text-small text-muted col-lg-6 mb-2">Learn from customer feedback</li>
              <li class="text-small text-muted col-lg-6 mb-2">Engage - marketing automation</li>
              <li class="text-small text-muted col-lg-6 mb-2">Support -customer support</li>
              <li class="text-small text-muted col-lg-6 mb-2">Acquire live chat enables sales</li>
              <li class="text-small text-muted col-lg-6 mb-2">Learn from customer feedback</li>
            </ul> -->
            <!-- <ul class="list-inline py-4 border-top border-bottom d-flex align-items-center">
              <li class="list-inline-item pr-4 mr-0"><img src="img/about-sign.png" alt="" width="80"></li>
              <li class="list-inline-item px-4 mr-0 border-left">
                <h5 class="mb-0">Jhon Martin</h5>
                <p class="small font-weight-normal text-muted mb-0">Chairnan and founder </p>
              </li>
              <li class="list-inline-item pl-4 border-left">
                <h5 class="mb-0">+535 421 895 6523</h5>
                <p class="small font-weight-normal text-muted mb-0">Call to ask any question</p>
              </li>
            </ul> -->
          </div>
        </div>
      </div>
    </section>
    <section class="py-5 bg-light">
      <div class="container py-5">
        <header class="mb-5 text-center">
          <div class="row">
            <div class="col-lg-7 mx-auto">
              <p class="h6 text-uppercase text-primary">Reliable &amp; Trustworthy</p>
              <h2>We're looking for specific approach to each project.</h2>
              <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p> -->
            </div>
          </div>
        </header>
        <div class="row align-items-stretch">
          <div class="col-lg-6 mb-4 mb-lg-0">
            <div class="bg-white h-100">
              <div class="bg-primary px-4 py-3 d-inline-block">
                <svg class="svg-icon text-white">
                  <use xlink:href="#arrow-target-1"> </use>
                </svg>
              </div>
              <div class="px-5 pt-0 pb-5 bg-white text-center">
                <h2 class="h4 mb-3">Our mission</h2>
                <p class="text-muted text-small mb-0">To be a platform that makes actionable information accessible to everyone at the time it matters.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4 mb-lg-0">
            <div class="bg-white h-100">
              <div class="bg-primary px-4 py-3 d-inline-block">
                <svg class="svg-icon text-white">
                  <use xlink:href="#stack-1"> </use>
                </svg>
              </div>
              <div class="px-5 pt-0 pb-5 bg-white text-center">
                <h2 class="h4 mb-3">Our vision</h2>
                <p class="text-muted text-small mb-0">Our Vision is to create a better and less stressful project process for every person out there. Providing them with constructive feedback to perfect their projects.</p>
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-4">
            <div class="bg-white h-100">
              <div class="bg-primary px-4 py-3 d-inline-block">
                <svg class="svg-icon text-white">
                  <use xlink:href="#sales-up-1"> </use>
                </svg>
              </div>
              <div class="px-5 pt-0 pb-5 bg-white text-center">
                <h2 class="h4 mb-3">Our Main Objective. </h2>
                <p class="text-muted text-small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem aperiam, vitae sit voluptatibus, sunt dolore esse. Eaque ullam, delectus illum earum et non quasi commodi in obcaecati qui mollitia a.</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>
    <!-- <section class="py-5">
      <div class="container py-5">
        <h2>Frequently asked questions</h2>
        <p class="text-muted mb-5">Below are the frequently asked questions </p>
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="accordion" id="accordionExample">
              <div class="card rounded-0 border-0 mb-1">
                <div class="card-header p-0 border-0 bg-white rounded-0" id="headingOne">
                  <h6 class="mb-0"><a class="reset-anchor w-100 px-4 py-3 d-block" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      
                      </a></h6>
                </div>
                <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <p class="text-small text-muted">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
                  </div>
                </div>
              </div>
              <div class="card rounded-0 border-0 mb-1">
                <div class="card-header p-0 border-0 bg-white rounded-0" id="headingTwo">
                  <h6 class="mb-0"><a class="reset-anchor w-100 px-4 py-3 d-block collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Do you give any offer for premium customer?
                      </a></h6>
                </div>
                <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <p class="text-small text-muted">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa.</p>
                  </div>
                </div>
              </div>
              <div class="card rounded-0 border-0">
                <div class="card-header p-0 border-0 bg-white rounded-0" id="headingThree">
                  <h6 class="mb-0"><a class="reset-anchor w-100 px-4 py-3 d-block collapsed border-bottom" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      What makes you special from others?
                      </a></h6>
                </div>
                <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <p class="text-small text-muted">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
                  </div>
                </div>
              </div>
            </div> -->
          <!-- </div> -->
          <!-- <div class="col-lg-6">
            <ul class="list-unstyled">
              <li class="d-flex">
                <svg class="svg-icon text-primary">
                  <use xlink:href="#sales-up-1"> </use>
                </svg>
                <div class="ml-3">
                  <h5>Talent &amp; HR Analytics</h5>
                  <p class="text-small text-muted">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </p>
                </div>
              </li>
              <li class="d-flex">
                <svg class="svg-icon text-primary">
                  <use xlink:href="#shield-security-1"> </use>
                </svg>
                <div class="ml-3">
                  <h5>Fraud &amp; Risk Analytics</h5>
                  <p class="text-small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                </div>
              </li>
              <li class="d-flex">
                <svg class="svg-icon text-primary">
                  <use xlink:href="#pie-chart-1"> </use>
                </svg>
                <div class="ml-3">
                  <h5>Marketing Analytics.</h5>
                  <p class="text-small text-muted">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </p>
                </div>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </section>
    
{% endblock %}
 